.select-game{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.select-difficulty{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.difficulty-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.difficulty-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: #DFDFDF;
    border: none;
}

.word{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.word-letter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    background-color: #DFDFDF;
    border: none;
}

.letters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.letter-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.letter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background-color: #DFDFDF;
    border: none;
    font-size: 25px;
}

.lives-txt{
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #DFDFDF;
    width: fit-content;
}

.lives{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-over{
    position: absolute;
    top: 30%;
    left: 28%;
    color: red;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
}