.board{
    /* display: relative; */
    /* justify-content: center; */
    /* border: none !important; */
    position: relative;
}

.board-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.board-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    font-size: 20px;
}

.predefined-square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    font-size: 20px;
    background-color: lightgray;
}

.game{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    /* border: 1px solid black; */
    width: 80%;
    margin-top: 2%;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 20px;
    background-color: white;
}

.numbers {
    display: flex;
    flex-direction: column; 
    
}

.rows{
    display: flex;
    flex-direction: row;
}

.generate-board-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    background-color: #DFDFDF;
    border: none;
    font-size: 20px;
}

